/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



div{
  display:block;
  text-align: center;
 }
 h2{
  display:block;
  text-align: center;
 }
p{
  display:block;
  text-align: center;
}
body{
  background-image: url('https://img.freepik.com/free-photo/cyber-monday-retail-sales_23-2148688493.jpg?w=900&t=st=1686129603~exp=1686130203~hmac=cb4689a4a9dc53f02fabebaeb064bd7a62723131c0e73564378098568dbd0378');
  background-repeat: no-repeat;
  background-size: 1400px 700px;

}
.login{
  border: 2px solid rgb(175, 109, 9);
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  margin-left: 200px;
  margin-right: 500px;
  background-color: rgba(255, 237, 216, 0.514);
}
.title{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: darkgoldenrod;
}